.cardBox{
    max-width: 300px;
    height: 100%;
    margin: 1rem;
    min-height: 352px;
    @media screen and (max-width: 500px) {
        max-width: 100%;
        margin: 0;
    }
    .body{
        min-height: 140px;
    }
    .img{
        max-height: 220px;
        overflow: hidden;
    }
}

.card{
    // box-shadow: 0.25rem 0.25rem 1.25rem rgba(66,95,255,.1);
    display: flex;
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 40%;
    .img{
        background-color: #f3f3f3;
        min-width: 100px;
        height: max-content;
        border-radius: 10px;
        overflow: hidden;
        margin: 10px;
    }
    .descs{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        .textWithColor{
            display: flex;
            align-items: center;
            .color{
                width: 4px;
                height: 15px;
                background-color: var(--color-primary-light);
                margin-right: 5px;
            }
        }
        h3{  
            font-size: .875rem;
            line-height: 1.125rem;
            margin-right: 0.75rem;
            text-transform: none;
            white-space: normal;
            font-weight: 600!important;
            font-family: Montserrat,sans-serif;
            color: #2b2c2e;
        }
    }
}
.odd{
    color: #fff;
    background: -webkit-linear-gradient(13deg, var(--color1) 20%, var(--color2) 70%, var(--color3) 100%);
    h3{
        color: #fff !important;
    }
}

.notOdd{
    border: 1px solid #ccc;
}