.card{
    box-shadow: 0.25rem 0.25rem 1.25rem rgba(66,95,255,.1);
    display: flex;
    width: 100%;
    min-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 40%;
    .img{
        background-color: #f3f3f3;
        min-width: 100px;
        height: max-content;
        border-radius: 10px;
        overflow: hidden;
        margin: 10px;
    }
    .descs{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        .textWithColor{
            display: flex;
            align-items: center;
            .color{
                width: 4px;
                height: 15px;
                background-color: var(--color-primary-light);
                margin-right: 5px;
            }
        }
        h3{  
            font-size: .875rem;
            line-height: 1.125rem;
            margin-right: 0.75rem;
            text-transform: none;
            white-space: normal;
            font-weight: 600!important;
            font-family: Montserrat,sans-serif;
            color: #2b2c2e;
        }
    }
}
.odd{
    color: #fff;
    background: rgb(7,155,238);
    background: linear-gradient(97deg, rgba(7,155,238,1) 20%, rgba(8,41,190,1) 70%, rgba(3,24,99,1) 100%);
    h3{
        color: #fff !important;
    }
}

.notOdd{
    //border: 1px solid #ccc;
}