@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ccc;

}
::-webkit-scrollbar{
    width: 2px;
    background-color: #F5F5F5;
    
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;

}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  line-height: 1.5 !important;
}
#__next{
  height: 100%;
}

:root {
  --nc-header-shadow : rgba(60,64,67,0.3);
  --color-primary-light : rgba(8,41,190,1);
  --color-secondary-light : #fff;
  --text-color-primary : #2C2D31;
  --color1: rgba(7,155,238,1);
  --color2: rgba(8,41,190,1);
  --color3: rgb(150, 9, 150);
}

.ql-align-center{
  text-align : center;
}


.carousel {
	display: inline-block;
	overflow: hidden;
	outline: 0px;
  max-width: 650px;

	&--image {
		border: 1px solid #fff;
		position: relative;
	}

	&--thumbs {
		margin-top: 10px;
		text-align: center;
	}

	&--thumb {
		border: 1px solid transparent;
		cursor: pointer;
		display: inline-block;
		height: 120px;
		margin: 0 5px;
		width: 150px;
		transition: transform .2s ease-in-out;

		&:hover {
			transform: translate(0, -3px);
		}
	}

	&--selected {
		border-color: #fff;
	}

	&--arrow {

		&-next {
			right: 0;
			top: 0;
			transform: translate(20px, 0);

			&:after {
				content: '\203A';
				text-align: right;

			}

			&:hover:after {
			    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(255,255,255, 0.6) 100%);
			}
		}

		&-previous {
			left: 0;
			top: 0;
			transform: translate(-20px, 0);

			&:after {
				content: '\2039';
			}

			&:hover:after {
			    background: linear-gradient(to right, rgba(255,255,255, 0.5) 0%, rgba(0,0,0,0) 100%);
			}
		}

		&-previous,
		&-next {
			color: transparent;
			cursor: pointer;
			height: 100%;
			position: absolute;
			transition: transform .3s ease-in, color .3s ease-in;
			width: 20%;

			&:hover {
				color: #000;
				transform: translate(0, 0);
			}

			&:after {
				display: flex;
				flex-direction: column;
				font: bold 60px/100% Arial;
				height: 100%;
				justify-content: center;
				padding: 0 15px;
			}
		}
	}
}

.animation {

	&--next {

		&-enter {
			transform: translate(100%,0);
			transition: transform 1.5s;

			&.animation--next-enter-active {
				transform: translate(0,0);
			}
		}

		&-leave {
			left: 0;
			position: absolute;
			top: 0;
			transform: translate(0,0);
			transition: transform 1.5s;

			&.animation--next-leave-active {
				transform: translate(-100%,0);
			}
		}
	}

	&--previous {

		&-enter {
			transform: translate(-100%,0);
			transition: transform 1.5s;

			&.animation--previous-enter-active {
				transform: translate(0,0);
			}
		}

		&-leave {
			left: 0;
			position: absolute;
			top: 0;
			transform: translate(0,0);
			transition: transform 1.5s;

			&.animation--previous-leave-active {
				transform: translate(100%,0);
			}
		}
	}
}


.ampstart-headerbar + :not(amp-sidebar),
                .ampstart-headerbar + amp-sidebar + * {
                    margin-top: 3.5rem;
                }
                .ampstart-headerbar-nav .ampstart-nav-item {
                    padding: 0 1rem;
                    background: transparent;
                    opacity: 0.8;
                }
                .ampstart-headerbar-nav {
                    line-height: 3.5rem;
                }
                .ampstart-nav-item:active,
                .ampstart-nav-item:focus,
                .ampstart-nav-item:hover {
                    opacity: 1;
                }
                .ampstart-navbar-trigger:focus {
                    outline: none;
                }
                .ampstart-nav a,
                .ampstart-navbar-trigger,
                .ampstart-sidebar-faq a {
                    cursor: pointer;
                    text-decoration: none;
                }
                .ampstart-nav .ampstart-label {
                    color: inherit;
                }
                .ampstart-navbar-trigger {
                    line-height: 3.5rem;
                    font-size: 2rem;
                }
                .ampstart-headerbar-nav {
                    -ms-flex: 1;
                    flex: 1;
                }
                .ampstart-nav-search {
                    -ms-flex-positive: 0.5;
                    flex-grow: 0.5;
                }
                .ampstart-headerbar .ampstart-nav-search:active,
                .ampstart-headerbar .ampstart-nav-search:focus,
                .ampstart-headerbar .ampstart-nav-search:hover {
                    box-shadow: none;
                }
                .ampstart-nav-search > input {
                    border: none;
                    border-radius: 3px;
                    line-height: normal;
                }
                .ampstart-nav-dropdown {
                    min-width: 200px;
                }
                .ampstart-nav-dropdown amp-accordion header {
                    background-color: #fff;
                    border: none;
                }
                .ampstart-nav-dropdown amp-accordion ul {
                    background-color: #fff;
                }
                .ampstart-nav-dropdown .ampstart-dropdown-item,
                .ampstart-nav-dropdown .ampstart-dropdown > section > header {
                    background-color: #fff;
                    color: #000;
                }
                .ampstart-nav-dropdown .ampstart-dropdown-item {
                    color: #003f93;
                }
                .ampstart-sidebar {
                    background-color: #fff;
                    color: #000;
                    min-width: 300px;
                    width: 300px;
                }
                .ampstart-sidebar .ampstart-icon {
                    fill: #003f93;
                }
                .ampstart-sidebar-header {
                    line-height: 3.5rem;
                    min-height: 3.5rem;
                }
                .ampstart-sidebar .ampstart-dropdown-item,
                .ampstart-sidebar .ampstart-dropdown header,
                .ampstart-sidebar .ampstart-faq-item,
                .ampstart-sidebar .ampstart-nav-item,
                .ampstart-sidebar .ampstart-social-follow {
                    margin: 0 0 2rem;
                }
                .ampstart-sidebar .ampstart-nav-dropdown {
                    margin: 0;
                }
                .ampstart-sidebar .ampstart-navbar-trigger {
                    line-height: inherit;
                }